body {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0px;
  background-color: #1e213f; }
  body * {
    box-sizing: border-box; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px; }

h1 {
  font-size: 100px;
  line-height: 120px;
  letter-spacing: -5px; }

h2 {
  font-size: 28px;
  line-height: 34px; }

h3 {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 15px;
  text-transform: uppercase; }

h4 {
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 5px;
  text-transform: uppercase; }

.p-body {
  font-family: "Kumbh Sans", sans-serif; }

.s-body {
  font-family: "Roboto Slab", serif; }

.t-body {
  font-family: "Space Mono", monospace; }

.p-color {
  margin-left: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #f87070; }

.s-color {
  margin-left: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #70f3f8; }

.t-color {
  margin-left: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #d881f8; }

.main-container {
  width: 100%;
  height: 100vh; }

.modal {
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4); }

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 40px;
  border: 1px solid #888;
  justify-content: center;
  border-radius: 25px;
  max-width: 30%;
  min-width: 330px;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  position: relative; }
  .modal-content .close-img {
    fill: black;
    opacity: 1; }
  .modal-content .time-check {
    margin-top: 50px;
    width: 100%; }
    .modal-content .time-check .time-breaks {
      font-size: 12px;
      color: #1e213f;
      display: flex;
      margin-top: 15px;
      justify-content: space-evenly; }
      .modal-content .time-check .time-breaks input {
        background-color: #eff1fa;
        border: none;
        border-radius: 10px;
        min-width: 90%;
        width: 60%;
        height: 48px;
        padding-left: 15px;
        margin-top: 10px; }
      .modal-content .time-check .time-breaks input::-webkit-outer-spin-button,
      .modal-content .time-check .time-breaks input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0; }
      .modal-content .time-check .time-breaks .break-pomodoro,
      .modal-content .time-check .time-breaks .break-long,
      .modal-content .time-check .time-breaks .break-short {
        position: relative; }

.arrow-up {
  position: absolute;
  right: 20%;
  top: 46%;
  transform: rotate(180deg); }

.arrow-down {
  position: absolute;
  right: 20%;
  top: 76%; }

.font-check {
  margin-top: 40px;
  margin-right: 15 px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center; }
  .font-check .fonts {
    display: flex; }
  .font-check .circle {
    margin-left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #eff1fa; }
  .font-check .f-active {
    color: #ffffff;
    background-color: #161932; }

.color-check {
  margin: 40px 0px;
  margin-right: 15 px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center; }
  .color-check .colors {
    display: flex; }

.c-active {
  background-image: url("/assets/check.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 20px;
  height: 20px; }

.ap-button {
  border-radius: 26px;
  border: none;
  color: #ffffff;
  background-color: #f87070;
  padding: 15px 40px; }

.modal-head {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: flex-end; }

.apply-button {
  margin-bottom: -55px; }

.cross:hover,
.circle:hover,
.ap-button:hover,
.arrow-down:hover,
.arrow-up:hover {
  cursor: pointer; }
